.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    background-color: black;

    width: 920px;
    height: 1px;

    margin-bottom: 15px;
    margin-top: 15px;
}

@media (max-width: 920px) {
    .line {
        width: 100%;
    }
}
