.asteroidImage {
    position: absolute;
    left: 13.26%;
    top: 14%;
}

@media (max-width: 920px) {
    .asteroidImage {
        position: absolute;
        left: 27px;
        top: 22px;
    }
}
