.approach {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;

    width: 95%;
}

.date {
    font-weight: bold;
    font-size: large;
}

.body {
    font-size: normal;
}
