.destructionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action {
    display: block;
    padding: 10px 16px;

    width: 17%;
    height: 48px;

    background: #186dd6;
    border-radius: 24px;

    color: white;
}

.line {
    background-color: black;

    width: 920px;
    height: 1px;

    margin-bottom: 15px;
    margin-top: 15px;
}

@media (max-width: 920px) {
    .line {
        width: 100%;
    }
}
